
.header {
  text-transform: uppercase;

  font-weight: 900;
  font-size: 30px;
}
.link {
  color: darkgray;
  font-size: 16px;
  line-height: 18px;
  transition: color 500ms, font-size 500ms;
  text-align: center;
}
.link:hover {
  font-size: 17px;
  color: darkblue;
}
.text {
  margin-top: 20px;
  color: darkgray;
  text-align: center;
}
.position {
  margin-top: auto;
}
