.container {
  width: 400px;
  height: 700px;

  display: flex;
  flex-direction: column;

  padding: 50px;
  gap: 15px;

  background-color: #fff;

  border-radius: 15px;
  box-shadow: 0.6px 3.1px 2.2px rgba(0, 0, 0, 0.022),
    1.3px 7.4px 5.3px rgba(0, 0, 0, 0.032),
    2.5px 13.9px 10px rgba(0, 0, 0, 0.04),
    4.5px 24.8px 17.9px rgba(0, 0, 0, 0.048),
    8.4px 46.4px 33.4px rgba(0, 0, 0, 0.058),
    20px 111px 80px rgba(0, 0, 0, 0.08);
}
.button {
  background-color: transparent;
  border: none;
  color: inherit;
  text-align: center;
  height: 25px;
  transition: all 250ms;
  color: darkgray;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
  font-size: 110%;
  color: darkblue;
}
