.container {
  width: 400px;
  height: 350px;

  display: flex;
  flex-direction: column;

  padding: 50px;
  gap: 15px;

  background-color: #fff;

  border-radius: 15px;
  box-shadow: 0px 0px 20px 0px rgba(66, 68, 90, 1);
}
.header {
  text-transform: uppercase;

  font-weight: 900;
  font-size: 30px;
}
.forgot {
  color: darkgray;
}
