.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.icon {
  width: 45px;
  height: 45px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  transition: all 0.5s;
}

.icon:hover {
  cursor: pointer;

  background: linear-gradient(
    to right,

    #ff90bb 0%,
    #a0e6ff 51%,
    #a3ffea 100%
  );
  border-radius: 50%;
  background-size: 200% auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
}
